body{
  background-image: url("https://i.imgur.com/1qV7gEC.jpg");
}
h1{
  color: pink;
  font-family: "hanamin";
  line-height: 0.1;
}
h2{
  color: lightgrey;
  font-family: "Comic Sans MS";
  line-height: 0.5;
  font-size: 50pt; 
  margin-top: 0.01em;
  margin-bottom: 1.5em;
  letter-spacing: 5px;
}
a{
  color: #9393FF;
}
section{
  margin-bottom: 30px;
}
.hung{
  font-size: 200pt;
  margin-top: 0.6em;
  margin-bottom: 0.01em;
}
.ichu{
  font-size: 90pt;
  margin-bottom: 0.01em; 
  letter-spacing: 20px;
}
.ch{
  font-size:6vh;
  text-align: left;
}
.en{
  font-family: "verdana";
  font-size:4vh;
  text-align: left;
  letter-spacing: 1px;
}
.space{
  line-height: 0.1vw;
}
#first_name{
  width:15vw;
  height: 100vh;
  float: left;
  margin-left: 30px;
}
#last_name{
  width:74vw;
  height: 100vh;
  float: right;
  margin-top: 110px;
}
#content{
  color: #CCCCFF;
  width: 100vw;
  height: 10vh;
  float: left;
  margin-left: 100px;
  line-height: 0.5vw;
}
